@import "../styles/common";

#hotels

.container
  padding: 0
  background: transparent url("/images/grandbohemian.jpg") 50% 0 no-repeat

section
  background-color: rgba(60,77,103,.7)
  color: $grey-1
  padding: 20px
  +clearfix

a, a:link
  color: White
  font-weight: bold

a:hover
  color: $yellow-1
  text-decoration: underline

h2, h3, h4
  color: White

img
  border: solid 2px $grey-1
  border-radius: 2px

.hotels-list
  float: left
  margin: 0 10px 10px 0
  width: 42%

  ul
    list-style-type: none
    margin: 0 0 10px
    padding: 0

  ul ul
    margin-top: 5px
    +clearfix

    li
      float: left
      margin-right: 10px
      margin-bottom: 10px
